<!-- for serach box -->
<style>
  .btn-search{
    background-color: rgb(236, 95, 95);
    color: rgb(255, 255, 255);
    width: 5rem;
    border-radius: 15px;
    padding: 0 1rem 0 1rem;
    height:35px ;
  }
  .btn-search:hover{
    background-color: rgb(139, 54, 54);
    color: rgb(243, 243, 243);
    width: 5rem;
    height:35px ;
  }
  
  .search_box{
    width: 15rem;
    box-shadow: 3rem;
    border-radius: 15px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    height:35px ;
  }
  .pro_name h1{
    margin-left: 10rem;
    margin-right: 4rem;
    color: rgb(236, 95, 95);
  }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-hotel"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><b>Explore</b></a>
      </div>
      <div class="navbar-nav ms-auto pro_name">
        <h1><i><b>StayWise</b></i></h1>
      </div>
      <div class="navbar-nav ms-auto">
            <form  action="/search" method="post" class="d-flex" role="search">
              <input class="form-control me-2 search_box" name="search" type="search" placeholder="Search Place" aria-label="Search"/>
              <button class="btn btn-search" type="submit"> Search</button>
            </form>
      </div>
      <div class="navbar-nav ms-auto">  
        <a class="nav-link" href="/listings/new">Add new Place </a>
        <% if(!currentUser) {%>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <%}%>
        <% if(currentUser){%>
        <a class="nav-link" href="logout">Logout</a>
        <%}%>
      </div>  
    </div>
  </div>
</nav>
