<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
        <div class="col-6 offset-3">
        <h1 class="mb-3">Signup on Stayhome</h1>
        <form action="/signup" method="post" class="needs-validation" novalidate >
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" placeholder="enter username" class="form-control" required>
                    <div class="valid-feedback">
                        username good
                    </div>
                    <div class="invalid-feedback">
                        Add username
                    </div>
                </div>  
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" name="email" placeholder="enter Email" class="form-control" required>
                    <div class="valid-feedback">
                        email good
                    </div>
                    <div class="invalid-feedback">
                        Add email
                    </div>
                </div> 
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" placeholder="enter Password" class="form-control" required>
                    <div class="valid-feedback">
                        password good
                    </div>
                    <div class="invalid-feedback">
                        Add password
                    </div>
                </div> 
                <button class="btn btn-success">Signup</button>      
        </form>
    </div>
</div>                  